/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f9f9f9;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .content {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .sidebar {
    width: 100%;
    background-color: #7c86e4;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 0;
  }
  
  /* Estilos específicos para pantallas medianas y grandes */
  @media (min-width: 768px) {
    .content {
      width: 65%; /* Ajusta según sea necesario */
    }
  
    .sidebar {
      width: 30%;
      position: sticky;
      top: 20px;
    }
  }
  
  /* Estilos para encabezados y otros elementos según sea necesario */
  
  /* Estilos adicionales según tus preferencias */
  #index {
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  #index a {
    text-decoration: none;
    color: #da9292;
    font-weight: bold;
  }
  
  #index a:hover {
    color: #7c86e4;
  }
  
  /* Ajusta el tamaño de las imágenes */
  img {
    max-width: 100%;
    height: auto;
  }
  