/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar {
    width: 100%;
    background-color: #7883e6;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 0;
}

/* Estilos específicos para pantallas medianas y grandes */
@media (min-width: 768px) {
    .content {
        width: 65%; /* Ajusta según sea necesario */
    }

    .sidebar {
        width: 30%;
        position: sticky;
        top: 20px;
    }
}

/* Ajusta el tamaño de las imágenes */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos para hacer el header responsivo */
header {
    background-color: #163255;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img {
    width: 100%;
    height: auto;
}

#title {
    margin-top: 10px;
    text-align: center;
}

#index {
    margin-top: 20px;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}
